<h1>Edit Post</h1>

<%#= render 'form' %>

<%= form_for @post, :url => post_path(@post), :method => :patch do |f| %>
  <%= f.label :title, "Title" %>
  <%= f.text_field :title %>

  <%= f.label :body, "Body" %>
  <%= f.text_area :body %>

  <%= f.submit "Update" %>
<% end %>