<ul>
  <% @posts.each do |post| %>
    <li>
      <%= link_to post.title, post %>

      <span class="date"><%= post.created_at.strftime("%B %d, %Y") %></span>

      <button type="button" class="btn btn-default"><%= link_to 'edit', edit_post_path(post) %></button>

      <button type="button" class="btn btn-danger"><%= link_to 'delete', post_path(post), :method => :delete %></button>

    </li>
  <% end %>
</ul>

<%= paginate @posts %>