<table class="table table-striped">
  <tr>
  <% @posts.each do |post| %>

      <td>
        <ul class="list-inline">
          <li><h3><%= link_to post.title, post %></h3></li>

          <li><span class="date"><%= post.created_at.strftime("%B %d, %Y") %></span></li>

          <li><button type="button" class="btn btn-default"><%= link_to 'edit', edit_post_path(post) %></button></li>

          <li><button type="button" class="btn btn-danger"><%= link_to 'delete', post_path(post), :method => :delete %></button></li>
        </ul>
      </td>
  </tr>
  <% end %>
</table>

<%= paginate @posts %>